.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row-reverse;
}
.hero-content{
	background-color:white;
	padding:60px;
}
.hero img{
	width:900px;
	height:400px;
	object-fit: cover;
}
.hero-content h1{
	font-size: 2em;
    margin: 0.5em 0;
}
.hero-content p{
	color:grey;
	margin: 0.5em 0;
}
.but{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:10%;
}